html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    background: rgb(35,31,32);
    margin: 0 auto;
    display: flex;
}

.panel {
    display: inline-block;
}

#left-panel {
    display: flex;
    flex-flow: row wrap;
    width: 65%;    
    max-height: 100%;
    flex: 10;
    margin-right: 25px;
    margin-bottom: 20px;
}

#right-panel {
    width: 33.3%;
    height: 100%;
    flex-direction: row;
    margin-right: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.projection-padding {
    background-color: black;
    height: 100%;
    width: 100px;
}

#logo-area {
    justify-content: left;
    margin:10px 0px 0px 10px;
}

#logo-legend {    
    display: block;
    width:250px;
    padding:left:50px;
    margin-top: 10px;
}

/*:root {
}
*/
#class-area {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    text-shadow: 
        -1px -1px 1px #FFFFFF, 
        -1px 1px 1px #FFFFFF, 
        1px -1px 1px #FFFFFF, 
        1px 1px 1px #FFFFFF,
        0 0 3px #FFFFFF, 
        0 0 10px #FFFFFF, 
        0 0 20px #FFFFFF,
        0 0 30px #FF0000, 
        0 0 40px #FF0000, 
        0 0 50px #FF0000, 
        0 0 70px #FF0000, 
        0 0 100px #FF0000, 
        0 0 200px #FF0000;

}

#motivational-quote {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
    text-align: center;
    display: block;
    
    margin-top: 250px;
    text-shadow: 
        -1px -1px 1px #FFFFFF, 
        -1px 1px 1px #FFFFFF, 
        1px -1px 1px #FFFFFF, 
        1px 1px 1px #FFFFFF,
        0 0 3px #FFFFFF, 
        0 0 10px #FFFFFF, 
        0 0 20px #FFFFFF,
        0 0 30px #0000FF, 
        0 0 40px #0000FF, 
        0 0 50px #0000FF, 
        0 0 70px #0000FF, 
        0 0 100px #0000FF, 
        0 0 200px #0000FF;
}

#time-container {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
    display: block;
    justify-content: right;

}

#time {
    text-align: right;
    cursor:pointer;
}

.bag {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;    
    /*padding-top: 40px;*/
    width: 100%;
    /*margin-top: 20px;*/
    margin:10px 10px 0px 10px;
    padding:10px 10px 0px 10px;
    border: 2px solid rgb(242, 99, 34);
    border-radius: 10px;
}

.nickname {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;    
    font-size: 42px;
    text-align: center;
}

.score-container {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    display: flex;
    flex-direction: row;
}

.hr-container {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    display: flex;
    flex-direction: row;
}

.count-container {
    visibility: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    display: flex;
    flex-direction: row;
}

.cal-container {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    display: flex;
    flex-direction: row;
}

.score {
    font: inherit;
    font-size: 42px;
    color: rgb(242,99,34);
/*    padding-right: 10px;
    padding-left: 5px;
*/
    padding-left: 10px;
}

.count {
    font: inherit;
    font-size: 42px;
    color: rgb(242,99,34);
/*    padding-right: 10px;
    padding-left: 5px;
*/
    padding-left: 10px;
}


.hr {
    font: inherit;
    font-size: 42px;
    color: rgb(242,99,34);
/*    padding-right: 10px;
    padding-left: 5px;
*/
    padding-left: 10px;
}

.cal {
    font: inherit;
    font-size: 42px;
    color: rgb(242,99,34);
/*    padding-right: 10px;
    padding-left: 5px;
*/
    padding-left: 10px;
}

.hide {
    display: none;
}

#vid {
    outline: none;   
}


.grayout {
    filter: grayscale(100%);
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
}


#chooseWorkout{
  /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
  text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #ffffff,
      0 0 80px #ffffff,
      0 0 90px #ffffff,
      0 0 100px #ffffff,
      0 0 150px #ffffff;

  position: absolute;
  top: 10%;
  left: 50%;
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.content {
   max-width: 1024px;
   width: 100%;
   padding: 0 4%;
   padding-top: 250px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
   height: 400px;
   min-height: 400px;
   width:300px;
   background-color: #292929;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
   border: 2px solid rgba(7, 7, 7, 0.12);
   font-size: 20px;   
   font-family: "Montserrat", sans-serif;
   transition: all 0.3s ease;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   transition: all 0.3s ease;
}

.card img {
   position:relative;
   top:10px;
   margin: 0 auto;
}

.card:hover {
    box-shadow: 0 0 20px 20px #FF0000;
}

.card .title {
   margin: 0;
   text-align: center;
   margin-top: 20px;
   color: white;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 4px;
   white-space:break-spaces;
}

