html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    background: rgb(35,31,32);
    margin: 0 auto;
    display: flex;
}

.panel {
    display: inline-block;
}

#left-panel {
    display: flex;
    flex-flow: row wrap;
    width: 65%;    
    max-height: 100%;
    flex: 10;
    margin-right: 25px;
    margin-bottom: 20px;
}

#right-panel {
    width: 33.3%;
    height: 100%;
    flex-direction: row;
    margin-right: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.projection-padding {
    background-color: black;
    height: 100%;
    width: 100px;
}

#logo-area {
    justify-content: left;
    margin:10px 0px 0px 10px;
}

#logo-legend {    
    display: block;
    width:250px;
    padding:left:50px;
    margin-top: 10px;
}

/*:root {
}
*/
#class-area {
  --shadow-color: #FF0000;
  --shadow-color-light: white;

/*    width: 100%;
    height: calc(40%-70px); 
*/    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    /*margin-top: 75px;*/
    animation: neon 5s infinite;
}


@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}


#motivational-quote {
  --shadow-color: #0000FF;
  --shadow-color-light: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
    text-align: center;
    display: block;
    
    margin-top: 250px;
    animation: neon 5s infinite;
}

#time-container {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
    display: block;
    /*margin: auto;*/
    /*margin-top: 75px;*/
    justify-content: right;

}

#time {
    text-align: right;
    cursor:pointer;
}

.bag {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;    
    /*padding-top: 40px;*/
    width: 100%;
    /*margin-top: 20px;*/
    margin:10px 10px 0px 10px;
    padding:10px 10px 0px 10px;
    border: 2px solid rgb(242, 99, 34);
    border-radius: 10px;
}

.nickname {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;    
    font-size: 42px;
    text-align: center;
}

.score-container {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    display: flex;
    flex-direction: row;
}

.hr-container {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    display: flex;
    flex-direction: row;
}

.count-container {
    visibility: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    display: flex;
    flex-direction: row;
}

.cal-container {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    display: flex;
    flex-direction: row;
}

.score {
    font: inherit;
    font-size: 42px;
    color: rgb(242,99,34);
/*    padding-right: 10px;
    padding-left: 5px;
*/
    padding-left: 10px;
}

.count {
    font: inherit;
    font-size: 42px;
    color: rgb(242,99,34);
/*    padding-right: 10px;
    padding-left: 5px;
*/
    padding-left: 10px;
}


.hr {
    font: inherit;
    font-size: 42px;
    color: rgb(242,99,34);
/*    padding-right: 10px;
    padding-left: 5px;
*/
    padding-left: 10px;
}

.cal {
    font: inherit;
    font-size: 42px;
    color: rgb(242,99,34);
/*    padding-right: 10px;
    padding-left: 5px;
*/
    padding-left: 10px;
}

.hide {
    display: none;
}

#vid {
    outline: none;   
}


.grayout {
    filter: grayscale(100%);
}